body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message{
    margin: 5px;
    padding: 5px;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

/* Just for my knowledge the padding and box-sizing in the code below are not needed because the padding and margin are stated in the .message code.*/

#info{
    box-sizing:border-box;
    padding: 5px;
    color: #3f0e90;
    background-color: #cbdcff;
}

#success{
    box-sizing: border-box;
    padding: 5px;
    color: #076e33;
    background-color: #c3f7db;

}

#warning{
    box-sizing: border-box;
    padding: 5px;
    color: #bab15b;
    background-color: #faffc7;

}

#error{
    box-sizing: border-box;
    padding: 5px;
    color: #8b0c23;
    background-color: #ffd0d6;
}