*{
    padding: 5px;
}

:root {
    --panelBg: rgb(47, 49, 52);
    --darkBg: rgb(62, 64, 67);
}

hr {
    margin: 0 0 4px 0;
    border : 0;
    height: 3px;
    background-image: linear-gradient(to right, rgb(63, 162, 172), rgb(65, 42, 146), rgb(63, 162, 172));

}
body {
    background-color: var(--darkBg);
    color: whitesmoke;
    font-family: 'Noto Sans JP', sans-serif;
}
#loading {
    display: block;
    position: center;
    margin: 0 auto;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.close-btn{
    display: flex;
    justify-content: space-around;
}

#container {
    display: flex;
    justify-content: space-around;
}

.editMovie{
    border: 2px solid darkslategrey;
    padding: 15px;
    border-radius: 5px;
}
.hidden1{
    display: none;
}

.btn {
    margin: 10px;
    background-color: #09090a;
    color: whitesmoke;
}
.textBox {
    display: inline-block;
    flex-direction: row;
    align-items: center;
}

.select {
    padding: 0 10px;
    height: 38px;
}
#delete-movie {
    margin: 0;
    background-color: rgb(203, 68, 74);
}
.deleteGroup{
    align-items: center;
}

#table1{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
}

tr,td{
    text-align: left;
}

#title-header{
    color: aquamarine;

}
#rating-header{
    color:aquamarine;
}
#genre-header{
    color: aquamarine;
}

.color{
    color: aquamarine;
}

img{
    display: block;
    width: 300px;
    margin: 0 auto;
    transition: 0.3s;
}