.fancy-header {
    color: blue; /* single line comment */
    text-decoration: underline;
}

h1 {
    text-align: center;
    text-decoration: underline;
}

h2{
    text-decoration: underline;
    color: red;
}
div{
    color:white;
}

ol{
    list-style-type:upper-roman;
    color:white;
}
ul{
    list-style-type:circle;
    color:white;
}
tr{
    color:white;
}

/*body{*/
/*    background-color:red;*/
/*}*/

body{
    height:100vh;
    background-image:url(../img/crazy.webp);
    background-size:1500px;
    background-position-x: center;
    background-position-y: center;
    background-color: blue;
}